In [1]:
# Import the libraries
import os
import pandas as pd

In [2]:
# Read in the dataset
file = os.path.join('vine.csv')

# Create the Vine DataFrame
vine = pd.read_csv(file)

# View the vine dataframe
vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1WBPB8MDCCN8F,5.0,0.0,0.0,N,N
1,R32M0YEWV77XG8,5.0,1.0,1.0,N,Y
2,RR8V7WR27NXJ5,1.0,0.0,0.0,N,Y
3,R1MHO5V9Z932AY,5.0,0.0,0.0,N,Y
4,R16PD71086BD2V,5.0,0.0,1.0,N,N

In [3]:
# Getting rows of total vote counts greater than 20
clean_df = vine[vine['total_votes'] >= 20]
clean_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y

In [4]:
# Creating a column to calculate the percentage of helpful votes to total votes
clean_df['percentage_vote'] = (clean_df['helpful_votes'] / clean_df['total_votes'])

c:\users\manny\documents\manny data analytics bootcamp\manny berkeley class\nlp\nlp test\nlpenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
clean_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percentage_vote
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N,1.000000
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y,1.000000
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y,0.800000
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y,0.968750
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y,0.738462

In [6]:
clean = clean_df.loc[clean_df['percentage_vote'] >= 0.5,]
print(clean)

              review_id  star_rating  helpful_votes  total_votes vine  \
326      R1B4753QMTD8ON          5.0           32.0         32.0    N
662      R28BVHOEL6GCHZ          5.0           21.0         21.0    N
1055     R27IB4BRKO71I0          2.0           16.0         20.0    N
1225      RJ86OW12Y4NRL          5.0          124.0        128.0    N
1448     R3KRABOWCH6ZE4          1.0           48.0         65.0    N
...                 ...          ...            ...          ...  ...
4850347  R1KGFSPKL3YCGK          4.0           25.0         26.0    N
4850349  R15AZWCW5ZSFSN          5.0          157.0        160.0    N
4850352  R1ZWVHA89AE49B          5.0           32.0         33.0    N
4850353  R115HJRM6FUVIC          5.0           27.0         27.0    N
4850356  R34TPFL5ZYSV46          3.0           21.0         29.0    N

        verified_purchase  percentage_vote
326                     N         1.000000
662                     Y         1.000000
1055                    Y         0.800000
1225                    Y         0.968750
1448                    Y         0.738462
...                   ...              ...
4850347                 N         0.961538
4850349                 Y         0.981250
4850352                 N         0.969697
4850353                 N         1.000000
4850356                 N         0.724138

[61948 rows x 7 columns]

In [7]:
# Creating DataFrames for paid and unpaid vine programs
vine_program = clean.loc[clean['vine'] == 'Y']
non_vine_program = clean.loc[clean['vine'] == 'N']

In [8]:
vine_program

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percentage_vote
5506,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N,0.870968
24578,R2IPKK4I0XRCFR,4.0,16.0,21.0,Y,N,0.761905
58364,RXYYJ8SGI9IX6,5.0,36.0,41.0,Y,N,0.878049
63194,R1SAUBFC7T6JHC,5.0,73.0,75.0,Y,N,0.973333
177724,R329HVJKKHWSG3,5.0,59.0,59.0,Y,N,1.000000
...,...,...,...,...,...,...,...
4717565,R1WG2F3DZFE301,5.0,51.0,81.0,Y,N,0.629630
4719313,R3VB53V1VDWPQ2,4.0,104.0,132.0,Y,N,0.787879
4754150,RCKH2IYVH9PCG,4.0,21.0,21.0,Y,N,1.000000
4770385,R1OR7JY4MQP6I7,5.0,181.0,188.0,Y,N,0.962766
4770596,R34IO2BR3JWIIZ,4.0,17.0,20.0,Y,N,0.850000

In [9]:
non_vine_program

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percentage_vote
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N,1.000000
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y,1.000000
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y,0.800000
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y,0.968750
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y,0.738462
...,...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4.0,25.0,26.0,N,N,0.961538
4850349,R15AZWCW5ZSFSN,5.0,157.0,160.0,N,Y,0.981250
4850352,R1ZWVHA89AE49B,5.0,32.0,33.0,N,N,0.969697
4850353,R115HJRM6FUVIC,5.0,27.0,27.0,N,N,1.000000
4850356,R34TPFL5ZYSV46,3.0,21.0,29.0,N,N,0.724138

In [10]:
# Metrics for Vine and Non-Vine
# Total number of reviews
vine_total = vine_program['review_id'].count()
non_vine_total = non_vine_program['review_id'].count()
print(vine_total, non_vine_total)

# Total number of 5-star reviews.
vine_5_star_review = (vine_program['star_rating'] == 5).sum()
non_vine_5_star_review = (non_vine_program['star_rating'] == 5).sum()
print(vine_5_star_review, non_vine_5_star_review)

# Percentage of 5-star reviews to total reviews.
percentage_vine_5_star = vine_5_star_review/vine_total * 100
percentage_non_vine_5_star = non_vine_5_star_review/non_vine_total * 100
print(percentage_vine_5_star, percentage_non_vine_5_star)

334 61614
139 32665
41.61676646706587 53.01554841432142

In [11]:
summary = {
    'Total': {
        'Vine': vine_total,
        'Non-Vine': non_vine_total
    },
    " Total 5 Stars":{
        'Vine': vine_5_star_review,
        'Non-Vine': non_vine_5_star_review
    },
    '% 5 Star':{
        'Vine': percentage_vine_5_star,
        'Non-Vine': percentage_non_vine_5_star
    }
}

In [12]:
summary

{'Total': {'Vine': 334, 'Non-Vine': 61614},
 ' Total 5 Stars': {'Vine': 139, 'Non-Vine': 32665},
 '% 5 Star': {'Vine': 41.61676646706587, 'Non-Vine': 53.01554841432142}}